@import './base/index.scss';
@import './collections/index.scss';

html {
  scroll-behavior: smooth;
  background-color: $primary-color;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primary-color;
  font-family: 'Nyasha Sans', sans-serif;
  overflow-x: hidden;
}

* {
  scrollbar-color: $tertiary-color #00000000;
  scrollbar-width: thin;

  // &::-webkit-scrollbar-button {
  //     display:none !important;
  // }

  &::-webkit-scrollbar {
    display: block;
    width: 7px;
    height: 7px;
    max-height: 80%;
    right: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $tertiary-color;
  }

  &::-webkit-scrollbar-track-piece:end {
    background-color: transparent;
    margin-bottom: 10px;
  }

  &::-webkit-scrollbar-track-piece:start {
    background-color: transparent;
    margin-top: 10px;
  }
}
