@import './base/index.scss';
@import './collections/index.scss';

html {
  scroll-behavior: smooth;
  background-color: $background-light;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $background-light;
  font-family: 'Nyasha Sans', sans-serif;
  overflow-x: hidden;
}
